# Node docker image on which this would be run
image: node:8.9.0

# This command is run before actual stages start running
before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - npm install

stages:
  - test
  - deploy

# Job 1:
build:
  stage: test
  script:
    - npm install

deployToAWS:
  only:
    - develop
  stage: deploy
  script:
- bash deploy/deploy.sh